body {
  font-family: 'Poppins', sans-serif;
}
 

.nav-link:hover {
  color: #4f46e5;
  text-decoration: underline;
  text-decoration-color: #4f46e5;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px; 
  transition: all 0.3s ease-in-out;
  
}


.tilt-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem; /* matches Tailwind's rounded-2xl */
    padding: 2px;
    background: linear-gradient(130deg, #a855f7, #f0abfc, #a855f7);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
  }
  
  .tilt-card:hover::before {
    opacity: 1;
  }

  .heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: whitesmoke;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    border-right: 4px solid #4f46e5;
    animation: typing 5s steps(100) 1s 1 normal both, blink 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 75%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  

  .footer-logo{
    width: 150px;
}