*{
  margin: 0;
  padding: 0;
 
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
 
}

.nav-link:hover {
  color: #4f46e5;
  text-decoration: underline;
  text-decoration-color: #4f46e5;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px; 
  transition: all 0.3s ease-in-out;
  
}
.heading{
  font-size: 18px;
}

.tilt-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem; 
    padding: 2px;
    background: linear-gradient(130deg, #a855f7, #f0abfc, #a855f7);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    pointer-events: none;
  }
  
  .tilt-card:hover::before {
    opacity: 1;
  }
  
  

.footer-logo{
    width: 150px;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 120px; 
  }
  
}

@media (max-width: 480px) {
  .footer-logo {
    width: 100px; 
  }
  .heading{
    font-size: 14px;
  }
 
}

